@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@500&family=Raleway:wght@100&display=swap');

.map-container {
    height: 400px;
  }
  

.hero{
  display:flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  height: 80vh;
  margin-left: 0 !important;
}

.hero-image{
  background-image: url("./../assets/hero.png") ;
  background-size: cover;
  background-position: center 40%;
}

.badge{
  width: 10vw;
}

@media (max-width:950px){
  .hero-image{
    background-image: url("./../assets/heroMini.png") ;
    background-size: cover;
    background-position: center 40%;
  }
}